main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.txt-welc {
   width: 100%;
   margin-bottom: 5%;
   font-size: 25px;
}

.texto {
    line-height: 30px;
    width: 40%;
}

.texto .p1 {
    margin-bottom: 5%;
}

.pontos {
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.pontos ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* footer */
footer {
    margin: 1% auto;
}

.copyright {
    color: black;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
/* SmartPhone */
@media screen and (max-width: 767px) {

    main {
        width: 75%;
    }

        body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #d3d3d3;
    }

    /* HEADER */
    header {
        margin-top: 1px;
        width: 80%;
        padding: 10px;
    }

    section.header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    header div h1 {
        font-size: 25px;
    }

    header li {
        font-size: 10px;
    }

    /* MAIN */
    .txt-welc:has(h1) {
        font-size: 18px;
    }

    .texto {
        font-size: 14px;
        line-height: 20px;
        width: 70%;
    }

    .pontos {
        font-size: 12px;
    }

    /* FOOTER */
    footer {
        font-size: 12px;
    }
}